tox>=3.14.0
black>=19.3b0
pytest>=5.0.1
pytest-cov>=2.7.1
pyfakefs>=3.6
pylama>=7.6.6
pycodestyle>=2.5.0
pydocstyle>=4.0.1
pylint>=2.3.1
darglint>=0.6.1
pdoc3>=0.6.2
netmiko>=2.4.1
-r requirements.txt
